@model DABanDan.Models.SanPham

@{
    ViewBag.Title = "DeleteSP";
}

<center>
    <h2>Xóa Sản Phẩm</h2>
</center>

<h3>Bạn muốn xóa sản phẩm này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HieuDan.TenHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HieuDan.TenHieu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoaiDan.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiDan.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MauSac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MauSac)
        </dd>
   </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở Về", "Index")
        </div>
    }
</div>
