@model PagedList.IPagedList<DABanDan.Models.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản Lí sản phẩm";
}

<center>
    <h2>Quản Lí Sản Phẩm</h2>
    <br />

    @using (Html.BeginForm("Index", "SanPham", FormMethod.Get))
    {
        <p>
            Tìm kiếm: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
    <p>
        @Html.ActionLink("Refresh", "Index")
    </p>
    <hr />
</center>
<p>
    @Html.ActionLink("Thêm Mới", "CreateSP")
</p>

<table class="table">
    <tr>
       <th>
           STT
       </th>

        <th>
            @Html.DisplayNameFor(model => model.First().TenSP)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Lv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MauSac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaHieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().IMG)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
             <th>
                    @Html.DisplayFor(modelItem => item.MaSP)
             </th>
            <th>
                @Html.DisplayFor(modelItem => item.TenSP)
            </th>

            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MauSac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMG)
            </td>
            <td>
                @Html.ActionLink("Sửa", "EditSP", new { @IDSP = item.MaSP }) |
                @Html.ActionLink("Xóa", "DeleteSP", new { @IDSP = item.MaSP })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
