@model List<DABanDan.Models.SanPham>
@{
    ViewBag.Title = "Hiệu Đàn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="shop_sidebar_area">
    <!-- ##### CAGETORY ##### -->
    <div class="widget catagory mb-50">
        @{ Html.RenderAction("LoaiSP", "Product");}
    </div>

    <!-- ##### BRAND ##### -->
    <div class="widget brands mb-50">
        @{ Html.RenderAction("HieuSP", "Product");}
    </div>

    <!-- ##### COLOR ##### -->
    <div class="widget color mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Màu Sắc</h6>
        <div class="widget-desc">
            <ul class="d-flex">
                <li><a href="#" class="color3"></a></li>
                <li><a href="#" class="color1"></a></li>
                <li><a href="#" class="color6"></a></li>
                <li><a href="#" class="color7"></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="amado_product_area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                    <!-- SXSorting -->
                    <div class="product-sorting d-flex">
                        <div class="sort-by-date d-flex align-items-center mr-15">
                            <p>Sắp Xếp theo</p>
                            <form action="#" method="get">
                                <select name="select" id="sortBydate">
                                    <option value="value">__Giá Guitar</option>
                                    <option value="value">__Sản phẩm mới</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Product Area -->
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <a href="@Url.Action("Detail", "Default", new { id = @item.MaSP })">
                                <img src="@item.IMG" alt="" style="width: 50%">
                            </a>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description d-flex align-items-center justify-content-between">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <a href="@Url.Action("Detail", "Default", new { id = @item.MaSP })">
                                    <p style="font-family:'Times New Roman';"  class="product-price">@item.DonGia.ToString("#,##0").Replace(',', '.') VND</p>
                                    <h6>@item.TenSP</h6>
                                </a>
                            </div>
                            <!-- Cart -->
                            <div class="ratings-cart text-right">
                                <div class="cart">
                                    <a href="@Url.Action("Index", "Cart")" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="~/Content/Client/img/core-img/cart.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }
            else
            {
                <p class="container-fluid" style="font-family: 'Times New Roman'; color: red">Sản phẩm này đã hết!!!</p>
            }
        </div>
    </div>
</div>


